<!DOCTYPE html>

<html id="background" lang="en">
    <head>
        <title>Stats | Timetable Kiosk</title>
         <!--Icons, links to css files and other stuff.-->  
         <meta charset="utf-8"> 
         <link href="static/main.css?q={{random}}" rel="stylesheet" type="text/css" media="screen">
         <link href="static/custom.css?q={{random}}" rel="stylesheet" type="text/css" media="screen">
         <link href="static/stats.css?q={{random}}" rel="stylesheet" type="text/css" media="screen">
         <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    </head>
    <script src="{{url_for('static', filename='functions.js')}}"></script>
    <body onload="startDatetime();">
        <div class="control-pos control-clr">
            <div id="clock"></div>
            <div id="date"></div>
        </div>
        <div class="stat-container-pos container-clr">
            <h1 class="subheading">Kiosk Statistics</h1>
            <div class="stat-headings-clr stat-headings-pos">
                <h2>Total Logins: {{totalLogins}}</h3>
                <br>
                <h2>Total Prints: {{totalPrints}}</h3> 
            </div>
            <button class="stat-refresh-pos button-clr" onclick="location.replace('/stats')">Refresh</button>
        </div>
    </body>
    <footer>
        <div class="footer-pos footer-clr">
            <br> 
            <small>Property of Lithgow High School,<br> 
            Written by Bradley Turrell and Kaden Lucas.<br></small> 
        </div>
        <div class="copyright-pos copyright-clr">
            <small>Copyright © 2021· All Rights Reserved<br>
                'Papercut' Artworks by Connor De Vries</small>
        </div>  
    </footer>   
</html>